header {
    background: url('/images/background.png') no-repeat center;
    background-size: cover;

    .navbar {
        .navbar-brand {
            font-family: 'Dancing Script', cursive;
            font-weight: bold;
            color: $primary;
        }
    }

    .header-content {
        background-color: #00000077;
        color: white;
        font-size: 70px;
        font-weight: bold;
        height: 400px;
        text-align: center;

        h1 {
            font-size: 70px;
            font-weight: bold;
            letter-spacing: 10px;
        }

        h3 {
            position: relative;
            top: -15px;
            font-family: 'Dancing Script', cursive;
            font-size: 32px;
        }
    }
}
